<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koriana.mapper.FlightMapper">

	<select id ="searchFlights" resultType="com.koriana.domain.flightDTO">
		SELECT *
		FROM flight
		WHERE departure = #{departure}
		  AND arrival = #{arrival}
		  AND DATE(departure_time) = #{date}
		  AND seat_code = #{seatCode}
	
	</select>
	
</mapper>
	
